:root {
    --color-primary: #16202c;
    --color-secondary: #586e88;
    --color-accent: #25976f;
    --color-body: #fcfcfc;
    --border-radius: 1.5rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.1rem;
}

.chatbot-container {
    border-radius: var(--border-radius);
    min-height: 38rem;
    max-height: 100vh;
    padding: 1.6rem;
    margin: 2rem auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    .chatbot-container {
        width: 70vw;
    }
}
    
.chatbot-container--primary {
    background: var(--color-primary);
}

/* Chatbot Header */
.chatbot-container__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "profile heading assistant"
    "profile description .";
    margin-bottom: 1.6rem;
    text-size-adjust: 100%;
    padding: 0.8rem;
}

.chatbot-container__profile {
    width: 5rem;
    grid-area: profile;
    align-self: center;
    margin-right: 1rem;;
}

.chatbot-container__description {
    grid-area: description;
    margin-top: 0;
    font-weight: 700;
    color: rgb(88,110,136);
    text-transform: uppercase;
}

.chatbot-container__heading {
    grid-area: heading;
    align-self: end;
    margin-bottom: 0.16rem;
}

.chatbot-container__assistant-id {
    font-size: 1.2rem;
    grid-area: assistant;
    text-align: right;
    font-weight: 300;
}



/* Input */

.input {
    border-radius: var(--border-radius);
    border: 3px solid var(--color-secondary);
    color: var(--color-body);
    outline: 0;
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    display: flex;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
    margin-top: 1rem;
}

.input-group .input {
    border: 0;
    width: 0;
    flex-grow: 1;
    padding: 1rem 1.6rem;
    background-color: var(--color-primary);
}

/* SEND BUTTON */
.send-btn {
    background: inherit;
    border: none;
}

.send-btn__img {
    width: 32px;
    fill: var(--color-accent); 
    cursor: pointer; 
    translate: scale .15s ease-in-out;  
}

.send-btn__img:hover {
    transform: scale(1.1);
    }

/* Chatbot Messages */

.chatbot-container__messages {
    width: 100%;
    background-color: var(--color-secondary);
    flex-grow: 1;
    border-radius: var(--border-radius);
}
