:root {
    --color-primary: #16202c;
    --color-secondary: #586e88;
    --color-accent: #25976f;
    --color-body: #fcfcfc;
    --border-radius: 1.5rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* SCROLL BAR STYLING */
::-webkit-scrollbar {
    width: 3px; /* Width of the entire scrollbar */
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-accent); /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners of the handle */
}
/* When you hover over the scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
}

/* Scrollbar corne and track in normal state */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background: transparent; /* Color of the scrollbar corner */
}

/* HEADINGS */
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.1rem;
}

/* Container for the ChatBot Assistant */
.chatbot-container {
    border-radius: var(--border-radius);
    min-height: 38rem;
    max-height: 100vh;
    padding: 1.6rem;
    margin: 2rem auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 450px;
}

.chatbot-container--primary {
    background: var(--color-primary);
}

@media screen and (min-width: 768px) {
    .chatbot-container {
        width: 70vw;
    }
}
    

/* Chatbot Header */
.chatbot-container__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "profile heading assistant"
    "profile description .";
    margin-bottom: 1.6rem;
    text-size-adjust: 100%;
    padding: 0.8rem;
}

.chatbot-container__profile {
    width: 5rem;
    grid-area: profile;
    align-self: center;
    margin-right: 1rem;;
}

.chatbot-container__description {
    grid-area: description;
    margin-top: 0;
    font-weight: 700;
    color: rgb(88,110,136);
    text-transform: uppercase;
}

.chatbot-container__heading {
    grid-area: heading;
    align-self: end;
    margin-bottom: 0.16rem;
}

.chatbot-container__assistant-id {
    font-size: 1.2rem;
    grid-area: assistant;
    text-align: right;
    font-weight: 300;
}



/* Input */

.input {
    border-radius: var(--border-radius);
    border: 3px solid var(--color-secondary);
    color: var(--color-body);
    outline: 0;
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;;
    max-height: 5rem;
    resize: none;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    display: flex;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
    margin-top: 1rem;
}

.input-group .input {
    border: 0;
    width: 0;
    flex-grow: 1;
    padding: 1rem 1.6rem;
    background-color: var(--color-primary);
}

/* SEND BUTTON */
.send-btn {
    background: inherit;
    border: none;
}

.send-btn__img {
    width: 32px;
    fill: var(--color-accent); 
    cursor: pointer; 
    transition: transform .15s ease-in-out;  
    align-self: flex-end;
}

.send-btn__img:hover {
    transform: scale(1.1);
    }

/* Chatbot Messages */

.chatbot-container__messages {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    flex-grow: 1;
    width: 100%;
}


/* Message Box */
.message-box {
    --border-radius: 1.5rem;
    color: var(--color-body);
    font-size: 1.6rem;
    margin: 0.2rem 1rem 0.5rem;
    max-width: 300px;
    min-height: 0.5rem;
    padding-left: 1rem;
    padding: 0.2rem;
    width: 100%;
}

.message-box--primary {
    background-color: var(--color-primary);
}

.message-box--accent {
    background-color: var(--color-accent);
}

.message-box--left {
    border-radius: 0  var(--border-radius) var(--border-radius);
}

.message-box--right {
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}